li {
  margin-bottom: 7px;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #555252;
  border-radius: 5px;
}
ul {
  width: 100%;
}
.delete {
  width: 100px;
}
